CLUSTER_NAME=leodust
CONTROL_PLANE_NAME=leodust-control-plane
WORKER_BASENAME=leodust-worker
WORKER_NAMES_FILE=./go/resources/tle/starlink_250.tle
IMAGE=ubuntu-minimal:22.04
MICROK8S_CHANNEL=1.30/stable
LXD_PROFILE_NAME=leodust-node
WORKER_COUNT=0
CONTAINER_CPU=2
CONTAINER_MEMORY=4GiB
SANDBOX_CPU=1
SANDBOX_MEMORY=1GiB
WAIT_TIMEOUT_SECONDS=900
ADDONS=dns,hostpath-storage
MGMT_NETWORK_NAME=leodust-mgmt
MGMT_NETWORK_SUBNET=10.180.0.1/16
MGMT_NETWORK_NAT=true
SIM_NETWORK_NAME=leodust-sim
SIM_NETWORK_SUBNET=10.181.0.1/16
SIM_NETWORK_NAT=false
TAINT_CONTROL_PLANE=true
NODE_MAP_OUTPUT_FILE=./results/cluster/leodust-node-map.json
KUBECONFIG_OUTPUT_FILE=./results/cluster/leodust-kubeconfig.yaml
REMOVE_LXD=false
ALL_CLUSTERS=false
DEBUG=false
SATELLITE_ID=
SANDBOX_NAME=
SANDBOX_ROLE=endpoint
SANDBOX_HOST_WORKER=
APP_NAME=
APP_COMMAND=
